@model List<Chef>
    
 @foreach (Chef chef in Model)
                {
                    <option>
                        @chef.FirstName @chef.LastName
                    </option>
                }