<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello C#</title>
</head>
<body>
    <h1>Hiya!!</h1>
    @{
        List<string> Foods = new List<string>() { "apple", "chocolate", "peanut butter" };

        foreach(string Food in Foods)
        {
            if(Food.StartsWith("c"))
            {
                <p style="color: red"> @Food </p>
            } else {
                <p> @Food </p>
            }
        }
    }
</body>
</html>