@{
    ViewData["Title"] = "Edit Dish";
}

@model Dish

<div class="container">
    <form asp-action="UpdateDish" asp-controller="Home" asp-route-DishID="@Model.DishId" method="POST">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Chef" class="form-label">Chef</label>
            <input asp-for="Chef" class="form-control" />
            <span asp-validation-for="Chef"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Tastiness" class="form-label">Tastiness</label>
            <input asp-for="Tastiness" class="form-control" />
            <span asp-validation-for="Tastiness"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Calories" class="form-label">Calories</label>
            <input asp-for="Calories" class="form-control" />
            <span asp-validation-for="Calories"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description"></span>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
    </form>

</div>