@{
    ViewData["Title"] = "New Dish";
}

@model Dish

<div class="container">
    <form class="d-flex justify-content-apart" asp-action="CreateDish" asp-controller="Home" method="POST">
        <div class="col-4">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Chef" class="form-label">Chef</label>
                <input asp-for="Chef" class="form-control" />
                <span asp-validation-for="Chef"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Calories" class="form-label">Calories</label>
                <input asp-for="Calories" class="form-control" />
                <span asp-validation-for="Calories"></span>
            </div>
        </div>
        <div class="col-1">
            <label asp-for="Tastiness" class="form-label">Tastiness</label>
            <select asp-for="Tastiness" class="form-select form-select-lg">
                <option value=""> </option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span asp-validation-for="Tastiness"></span>
        </div>
        <div>
            <div class="col-auto mb-3">
                <label asp-for="Description" class="form-label">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </div>
    </form>

</div>