@{
    ViewData["Title"] = "Dashboard";
}

@model User

<div class="container text-center">
    <h1>
        Success!
    </h1>
    <h2> Hello @Model.FirstName </h2>

    <form asp-action="Logout" asp-controller="Home" method="POST">
        <button class="btn btn-primary"> Logout</button>
    </form>
</div>