@{
    ViewData["Title"] = "Home Page";
}

@model Friend

<div class="text-center">
    <h1 class="display-4">You made a Friend!! Hello @Model.FirstName</h1>
    <p> Sup! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis totam, delectus molestias distinctio a tempora. Alias aliquam dolores corporis sunt obcaecati neque corrupti. Fuga quia facilis nulla, sequi ratione dignissimos!</p>
</div>
