@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel

<div class="container d-flex">
    <div class="col-6"> 
        <h1> New Category </h1>
        @await Html.PartialAsync("_NewCategory", Model.Category)
    </div>
    <div class="col-6">
        <h1> All Products </h1>
        @await Html.PartialAsync("_ShowCategories", Model.AllCategories)
    </div>
</div>